<div class="container-fluid">
  <app-page-title title="Company Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mb-4">
    <div class="col-xl-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="text-center">
            <div class="dropdown float-end" ngbDropdown>
              <a class="text-body dropdown-toggle font-size-18" href="javascript:void(0)" role="button"
                ngbDropdownToggle>
                <i class="uil uil-ellipsis-v"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                
                <a class="dropdown-item" (click)="TransEmployees(Addmodal,data.companies.companyId)">Add Employees</a>
               <br>
              <a  class="dropdown-item"  (click)="scrollModal(scrollDataModal,data.companies.companyId,'Edit')">
                Update
            </a>
              </div>
            </div>
            <div class="clearfix"></div>
            <div *ngIf="data.companies.profileImagePath!=null">
              <img [src]="imagebaseurl+data.companies.profileImagePath"  alt="" class="avatar-lg rounded-circle img-thumbnail" />
            </div>
            <div *ngIf="data.companies.profileImagePath==null" >
              <img src="assets/images.jpg"  alt="" class="avatar-lg rounded-circle img-thumbnail" />
            </div>
            <h5 class="mt-3 mb-1">{{data.companies.comapnyName}}   <a class="btn btn-outline-danger btn-sm edit"(click)="Createlink(Create1,data.companies.companyId)" title="Link" style="margin-left: 5px;">
              <i class="uil-share-alt" title="Share With Others"></i>
          </a > </h5>
         

     
          </div>

          <hr class="my-4" />

          <div class="text-muted">
          
            <div class="table-responsive mt-4">
              <div>
                <p class="mb-1">Name :</p>
                <h5 class="font-size-16">{{data.companies.comapnyName}}</h5>
              </div>
              <div class="mt-4">
                <p class="mb-1">Address :</p>
                <a  class="nav-link" style="color: black;">
                 
                  {{data.companies.address|| 'NO Data'}}
                </a>
              </div>
           
           
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card mb-0">
        <!-- Nav tabs -->
        <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified nav-tabs-custom">
          <li [ngbNavItem]="1" class="nav-item">
            <a ngbNavLink class="nav-link">
              <i class="bx uil-ticket"></i>
              <span class="d-none d-sm-block">Employees({{data.customers.length}})</span>
            </a>
            <ng-template ngbNavContent>
              <ng-template [ngTemplateOutlet]="TabContentAbout"></ng-template>
            </ng-template>
          </li>
   
      
        </ul>
        <div [ngbNavOutlet]="justifiednav"></div>
      </div>

      <!-- Tab content -->
      <ng-template #TabContentAbout>
        <div class="tab-content p-4">
          <div class="tab-pane active">
            <div>
              <div>
                <h5 class="font-size-16 mb-4">Employees</h5>
                <div class="table-responsive">
                  <table class="table mb-0">
                     
                      <thead>
                          <tr>
                              <th>#</th>
                              <th> Name</th>
                              <th>Email</th>
                              <th>Contact No</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of CompanyUsers;let i=index;">
                              <th scope="row">{{i+1}}</th>
                              <td>  <a (click)="getuserinfo(item.userId)" > {{item?.name}}</a></td>
                              <td><a href="mailto:{{item.email}}" ><i class="bx uil-envelope" style="padding-right:10px ;"></i>{{item.email}} </a></td>
                              <td><a href="tel:{{item.phone}}" ><i class="fas fa-phone" style="padding-right:10px ;"></i>{{item.contact}}</a></td>
                          </tr>
                        
                      </tbody>
                  </table>
            
              </div>
              
              </div>

             
            </div>
          </div>
        </div>
      </ng-template>

    
    </div>
  </div>
  <ng-template #Addmodal let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Other Employees list</h5>
      <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
        class="d-inline-flex align-items-center">
        <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
          aria-controls="tickets-table" [(ngModel)]="term"></label></div>
      <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
  
      </button>
    </div>
  
    <div class="modal-body">

      <div class="col-12">
        <div class="card">
          <div class="card-body">
            
           
       
            <!-- Table -->
            <div class="table-responsive">
              <table id="basic-datatable" class="table table-bordered dt-responsive nowrap w-100 ">
                <thead>
                  <tr>
                    <th >#</th>
                    <th >name</th>
                    <th >name</th>
                    <th >email</th>
                    <th>Action</th>
                    <!-- <th sortable="age" (sort)="onSort($event)">Age</th> -->
                  
                  </tr>
                </thead>
                <tbody *ngFor="let item of UsersList|filter:term|orderBy:key :reverse|paginate:{itemsPerPage:10,currentPage:p}; let i=index;" >
                  <tr >
                        <td>{{i+1}}</td>
                    <td >
                     
                      <a (click)="getuserinfo(item.userId)" > {{item?.name}}</a>
                  
                    </td>
                    <td>
                      <a href="tel:{{item.phone}}" ><i class="fas fa-phone" style="padding-right:10px ;"></i>{{item.contact}}</a>
                  
                    </td>
                    <td>
                      <a href="mailto:{{item.email}}" ><i class="bx uil-envelope" style="padding-right:10px ;"></i>{{item.email}} </a>
                    </td>
              <td>
                <a class="btn btn-outline-success btn-sm edit" (click)="TransferData(item.userId)" title="Details" >
                     Add to this Company
              </a >
             
           
            
              </td>                 
                  
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End table -->
            <div class="row justify-content-md-between align-items-md-center mt-2">
              <div class="col-sm-12 col-md-5">
                
              </div>
              <!-- Pagination -->
              <div class="col-sm-12 col-md-5">
                <div class="text-md-end float-md-end pagination-rounded">
                  <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                  </ngb-pagination> -->

     </div>
              </div>
              <!-- End Pagination -->
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="table-responsive">
        <table class="table mb-0">
  
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Address</th>
                
              </tr>
            </thead>
          <tbody *ngFor="let product of productlist; let i = index">
              <tr >
                <td>{{i+1}}</td>
                  <td>{{product.Name}}</td>
                  <td>{{product.Phone}}</td>
                  <td>{{product.Email}}</td>
                  <td>{{product.Address}}</td>
                  
                </tr>
              
            </tbody> 
        </table>
    </div> -->
    
    </div>
    <div class="modal-footer">
      <pagination-controls (pageChange)="p=$event" aria-label="Default pagination"></pagination-controls> 
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
</div>

<ng-template #scrollDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">{{operationname}}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">

    </button>
  </div>
  <div class="modal-body">
    <fieldset class="mb-3">
               
 
      <div class="form-group row">
        <label class="col-form-label col-lg-2">Company Name <sup style="color: red;">*</sup> </label>
       <div class="col-lg-10">
          <input type="text" [(ngModel)]="comapnyName"   placeholder="Company Name" class="form-control">
      
           </div>
      </div>
     

      <div class="form-group row">
        <label class="col-form-label col-lg-2">Address <sup style="color: red;">*</sup> </label>
        <div class="col-lg-10">
     
          <textarea [(ngModel)]="address" placeholder="Address" class="form-control"></textarea>
        </div>
        </div>
 
      <div class="form-group row"  *ngIf="Image!==null"  style="margin-top: 10px;">
        <label class="col-form-label col-lg-2">Image <sup style="color: red;">*</sup> </label>
        <div class="col-lg-10">
        <img [src]="Image" style="height: 100px;width: 100px;" />
      </div>  
      </div>    
      <div class="form-group row"*ngIf="Update==true" style="margin-top: 10px;">
       <label class="col-form-label col-lg-2"> <sup style="color: red;">*</sup> </label>
       <div class="col-lg-10">
          <div class="custom-dropzone" multiple="false" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
             <ngx-dropzone-label>
               <div>
                 <p>Upload New  Image</p>
               </div>
             </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
               <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
             </ngx-dropzone-image-preview> 
           </div> 
       </div>
     </div>   
 
     
    </fieldset>
     </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)=" UpdateConfirm()" *ngIf="Update==true">Save Changes</button>
    <button type="button" class="btn btn-danger" (click)="DeleteCompany()" *ngIf="Del==true">Remove</button>
  </div>
</ng-template>
<ng-template #Create1 let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Shareable link </h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">

    </button>
  </div>

  <div class="modal-body">
<div class="container">
  <p>{{shareablelink}}   <i class="uil-copy"  (click)="copyMessage()" ngbTooltip="Copy to Clipboard"  style="    margin-left: 74px;
    font-size: 36px;
    color: #003f6c;"></i></p>
    <div *ngIf="IsCoppied">
      <ngb-alert [dismissible]="false" type="success">
        Url Coppied successfully  ! Ctrl+v to past into your Url
      </ngb-alert>
    </div>

   
</div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" #dismismodal>Close</button>
  
 </div>
</ng-template>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
