.toast-success {
    padding-left: 80px;
    margin-left: 30% !important;
    text-align: center;
    background-position: 35% !important;
  }
  #toast-container{
    padding-left: 80px;
    margin-left: 30% !important;
    text-align: center;
    background-position: 35% !important;
  }